*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a192f;
    
}
.container{    
    display: flex;
    justify-content: flex-start;
    padding: 100px 200px;
}
.header{
    color: #7bf0d3;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 26px;
}
h1{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 57px;
    line-height: 75px;
    font-weight: 700;
    vertical-align: baseline;
    text-align: start;
}
.intro {
    color: #ccd6f6;
}
p{
    color: #fff;
    padding: 25px 0px 0px 0px;
    font-size: 24px;
    line-height: 38px;
    vertical-align: baseline;
    
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #7bf0d3;
    border-radius: 5px;
    border:2px solid #7bf0d3;
    text-align: center;
    padding: 1.25rem 1.75rem;
    cursor: pointer;
    line-height: 1;
    margin-top: 50px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    box-sizing: inherit;
}
a:hover{
    border: 2px solid #7bf0d3;
    background-color: #7bf0d35e;
    color: #fff;
}
.about{
    display: flex;
    justify-content: flex-start;
    padding: 100px 200px;
}
.about h2{
    color: #7bf0d3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35pxx;
    font-weight: 600;   
}
img {
    margin-left: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #ccd6f6;
    color: black;
    padding: 5px;
    margin: 0px;
}


